<h1>Hello World</h1>
<h2>Personal Information</h2>

<form action="/submit" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>

    <br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>

    <br>

    <input type="submit" value="Submit">
</form>